<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="google">
        <h1>
            <span id="G">
                G
            </span>
            <span id="o">
                o
            </span>
            <span id="o2">
                o
            </span>
            <span id="g">
                g
            </span>
            <span id="l">
                l
            </span>
            <span id="e">
                e
            </span>
        </h1>
        <form action="https://www.google.com/search" target="_blank">
            <input type="text" name="q" id="search-bar">
            <br>
            <input type="submit" value="Google Search">
            <input type="submit" name="btnI" value="I'm Feeling Lucky">
        </form>
    </div>
</body>
</html>
