@media (max-width: 1200px) {
    .delete-with-small-screen {
        display: none;
    }
}

td {
    display: inline-table;
}

table {
    width: 100%;
}

.advanced-search-td {
    width: 200px;
}

body {
    font-family: sans-serif;
}

h1 {
    font-size: 6vw;
    margin-bottom: 5px;
    user-select: none;
}

h4 {
    display: inline-block;
}

span {
    margin-left: -0.7vw;
    margin-right: -0.7vw;
}

a {
    margin-left: 5px;
    margin-right: 5px;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}
  
a:hover, a:active {
    text-decoration: underline;
    color: black;
}

input {
    width: 220px;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px
}

input[type="submit"]:hover {
    background-color: rgb(201, 201, 201);
}

input[type="submit"]:active {
    background-color: rgb(172, 172, 172);
}

#links {
    text-align: right;
}

#search-bar {
    width: 70%;
    border-radius: 30px;
    padding-left: 15px;
}

#search {
    text-align: center;
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#advanced-search {
    width: 100%;
    padding: 2vw;
}

#advanced-search-heading {
    margin-left: 2vw;
    font-weight: lighter;
    border-bottom: 1px solid rgb(206, 206, 206);
    color: red
}

#advanced-search-button {
    width: 170px;
    background-color: rgb(61, 96, 190);
    color: white;
}

.advanced-search-bar {
    width: 30vw;
}

#G {
    color: rgb(37, 101, 197);
}

#o {
    color: red;
}

#o2 {
    color: rgb(216, 181, 24);
}

#g {
    color: rgb(37, 101, 197);
}

#l {
    color: green;
}

#e {
    color: red;
}

#images {
    color: rgb(37, 101, 197);
    text-align: right;
    font-size: 1.3vw;
    font-weight: lighter;
    margin-top: -1.6vw;
    margin-right: 15.5vw;
}