/* Variables */
:root {
    --dark-gray: hsl(0, 0%, 30%);
    --light-gray: hsl(0, 0%, 65%);
    --lighter-gray: hsl(0, 0%, 85%);
    --side-padding: 5%;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

#content {
    padding: 10px var(--side-padding);
}

nav {
    position: relative;
    z-index: 10;
}

#navbar {
    display: flex;
    position: relative;
    background-color: var(--dark-gray);
    color: white;
    justify-content: space-between;
    align-items: center;
    z-index: initial;
    padding: 0.5rem 0 0.5rem 0;
}

#navbar-elements {
    padding-left: var(--side-padding)
}

#navbar-links {
    padding-right: var(--side-padding);
}

#navbar-links a {
    color: var(--light-gray);
}

#navbar-links a:hover {
    color: var(--lighter-gray);
}

a {
    text-decoration: none;
}

#navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar-links li {
    list-style: none;
    display: inline;
    margin: 20px;
}

h1 {
    font-size: 6vw;
    margin-bottom: 5px;
}

input {
    width: 180px;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
}

#search-bar {
    width: 75%;
    border-radius: 30px;
    padding-left: 15px;
}

#google {
    text-align: center;
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#G, #g {
    color: rgb(37, 101, 197);
}

#o, #e {
    color: red;
}

#o2 {
    color: rgb(216, 181, 24);
}

#l {
    color: green;
}

span {
    text-shadow: 1px 1px 2px black;
    margin-left: -0.7vw;
    margin-right: -0.7vw;
}
